# Lists:

- List are ordered sequence of mixed data type
- Lists are written in, separated elements within brackets
- Mutable
- Variable Length
- List cannot be used as keys for dictionaries bcz keys should be hashtable and immutable

In [2]:
lists = ["India", "Usa"]
lists

['India', 'Usa']

In [3]:
lists = ["India", "Usa", "China", "Japan", 31, 120000]
lists

['India', 'Usa', 'China', 'Japan', 31, 120000]

In [4]:
type(lists)

list

In [14]:
# Nested lists
lists = ["India", "Usa", "China", "Japan", 31, 120000, ["Delhi", "Tokyo", "Beijing"]]
print(lists)

print(len(lists))

print(lists[6])

print(lists[6][0])

print(lists[-1][-3])

['India', 'Usa', 'China', 'Japan', 31, 120000, ['Delhi', 'Tokyo', 'Beijing']]
7
['Delhi', 'Tokyo', 'Beijing']
Delhi
Delhi

In [15]:
# Concatenation
lists1 = ["India", "Usa"]
lists2 = ["China", "Japan"]
lists3 = lists1 + lists2
print(lists3)

['India', 'Usa', 'China', 'Japan']

In [16]:
# Membership
lists = ["India", "Usa", "China", "Japan"]
print("India" in lists)
print("Dubai" in lists)

True
False

In [18]:
# Extend a list
list1 = [1,2,4,3,2]
list1.extend([10,20,30])
print(list1)
print(len(list1))

[1, 2, 4, 3, 2, 10, 20, 30]
8

In [19]:
# Extend a list
list2 = [11,22,44,33,22]
list2.append([10,20,30])
print(list2)
print(len(list2))

[11, 22, 44, 33, 22, [10, 20, 30]]
6

In [21]:
# del function
list3 = [1,2,4,3,2]
del list3[1]
print(list3)


# pop() - deletes the object based on the index value
# default - removes the last element
list4 = [1,2,4,3,2]
list4.pop()
print(list4)


# remove() - removes the first occurrence of the object
list5 = [1,2,4,3,2]
list5.remove(2)
print(list5)

# clear() - removes all the elements from the list
list6 = [1,2,4,3,2]
list6.clear()
print(list6)

[1, 4, 3, 2]
[1, 2, 4, 3]
[1, 4, 3, 2]
[]

In [22]:
# Sort

A = [9, 9,10,12,2]
A.sort()
A

[2, 9, 9, 10, 12]

In [23]:
A.sort(reverse=True)
A

[12, 10, 9, 9, 2]

**Sort and Sorted**

In [ ]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)  # None because sort() does not return anything

['Mango', 'Oranges', 'Strawberry']
None

In [29]:
A = ["Oranges", "Strawberry", "Mango"]
A.sort()

In [ ]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted (A)
print(A)
print (B) # output comes beacause sorted() returns a new list

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']