# Dictionary:

- Unordered collection of data.
- Data in dictionary is stored as a key : value pair.
- The key is like an index, its always unique & immutable
- The values are the objects that contain information
- Values are accessed using their keys
- Each key is followed by a value separated by a colon
- The values can be immutable, mutable, & duplicates
- Each key and value pair is separated by a comma enclosed inside curly

`Dict = {"name": "John", 'age':10 }`
*Keys: name, and age, Values:` John`, and `10`*

In [1]:
d1 = {"India": "INR", "USA": "USD", "Japan": "JPY"}
type(d1)

dict

In [2]:
len(d1)

3

In [3]:
d1['India']

'INR'

In [5]:
d1['USA'] = "US Dollar"
d1['USA']

'US Dollar'

In [6]:
# delete a key-value pair

del d1['USA']
d1

{'India': 'INR', 'Japan': 'JPY'}

In [7]:
# sorting
d1 = {"India": "INR", "Canada": "CAD", "Japan": "JPY"}
sorted(d1)

['Canada', 'India', 'Japan']

In [8]:
# values()

d1.values()

dict_values(['INR', 'CAD', 'JPY'])

In [9]:
# keys()
d1.keys()

dict_keys(['India', 'Canada', 'Japan'])

In [10]:
# get()
d1.get('India')

'INR'

In [11]:
# items()
d1.items()

dict_items([('India', 'INR'), ('Canada', 'CAD'), ('Japan', 'JPY')])

In [12]:
# update()
d1.update({"India": "Rupees"})
d1

{'India': 'Rupees', 'Canada': 'CAD', 'Japan': 'JPY'}