# Tuple:

- Tuples are ordered sequence of mixed data types
- Tuples are written in comma separated elements within parenthesis
- Immutable
- Fixed Length
- Tuples can be used as keys for dictionaries bcz keys should be hashtable and immutable

In [1]:
t = (1,3,2,4)
print(t)
type(t)

(1, 3, 2, 4)

tuple

In [2]:
t = ('hello world', 1,2, True, 5.5)
print(t)

('hello world', 1, 2, True, 5.5)

In [4]:
type(t)
print(len(t))

5

In [6]:
t2 = (1,2,3, (4,5,6), [33,44])
print(t2)

print(t2[3])

print(t2[4])

print(type(t2))

print(type(t2[4]))

(1, 2, 3, (4, 5, 6), [33, 44])
(4, 5, 6)
[33, 44]
<class 'tuple'>
<class 'list'>

In [13]:
# min - max functions

t = (222,4,6,8,9)

print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))

4
222
249
[4, 6, 8, 9, 222]

**Sorting**

In [14]:
t =(22,3,4,55,444,6)
new_var = sorted(t)
print(t)
print(new_var)

(22, 3, 4, 55, 444, 6)
[3, 4, 6, 22, 55, 444]

In [16]:
print(type(t))
print(type(new_var))

<class 'tuple'>
<class 'list'>

**Tuples are immutable so they cannot be sorted. hence, first we convert that into a list then sort that list and finaly converts that into a new tuple.**

In [18]:
new_var = tuple(new_var)
print(type(new_var))

<class 'tuple'>

In [19]:
print(new_var)

(3, 4, 6, 22, 55, 444)

In [23]:
x = ('2')
print(type(x))
x = 1,2,
print(type(x))
x = ( (1,2,3) , 4,5)
print(type(x))

<class 'str'>
<class 'tuple'>
<class 'tuple'>